body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flexRow{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 300px;
  overflow: auto;
}


.project{
  position: relative;
  max-width: 300px;
  width: 100%;
  margin:18px;


}